html {
    background-color: #ffffff;
}
article {
    background-color: #ffffff;
    color: white;
}
h2 {
    font-size: 1.8rem;
}
.mt8{
    margin-top: 8rem;
}
.page_wrap {
    display:flex;
    gap: 3rem;
    justify-content: center;
    padding-top: 3rem;
}
.left_table {
    padding: 2rem 1rem 1rem 1rem;
    text-align: center;
    background-color: #699784;

    flex-basis: 25rem;
    
}
.right_table {
    padding: 2rem 1rem 1rem 1rem;
    text-align: center;
    background-color: #699784;

    flex-basis: 25rem;
}
table {
    margin: auto;
    color: white;
    margin-bottom: 1rem;
    padding: 1rem  1.5rem 1rem 1.5rem;
}