html { 
    background-color: #faf8eb;
}
main {
    background-color: #faf8eb;
    color: black;
}
.info {
    padding-top: 3rem;
    font-size: 2.5rem;
    text-align: center;
}
#search_word {
    font-size: 3rem;
    font-weight: bold;
}
.list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.item {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 2rem;
}