{% extends "base_login.html" %} 

{% block contents %}

<link rel="stylesheet" href="../static/commit.css">
<main>
    <p id="title">레시피가 등록되었습니다.</p>
    <div class="wrap">
        <h2 class="mgt2">{{name}}</h2>
        <p class="mgt2">추천 조리 난이도 : <span>{{level}}</span></p>
        
        <div class="info">
            <h5 class="mgt2">재료목록</h5>
            <div class="ingred_list">
                {% for i in ingred_list.keys() %}
                <!-- 재료명 -->
                <p>{{i}}
                <!-- 재료 수량과 단위  -->
                {{ingred_list[i][0]}}{{ingred_list[i][1]}}</p>
                {% endfor %}
            </div>
        </div>
        <div class="buttons">
            <button><a href='/home' style="text-decoration: none;">돌아가기</a></button>
        </div>
    </div>
</main>


{% endblock contents %}
