{% extends "base_login.html" %}


{% block contents %}
<link rel="stylesheet" href="../static/home.css">
<main>
  <div class="form_wrap">
    <div class="leftform_wrap">
      <h1>레시피 검색하기</h1>
      <form method="post" action= "/search/">
        <div class="input_wrap">
          <label class="label">재료 </label>
        <input class="input" type="text" name="ingredients" value=" " required>
        <label class="label">가격 </label>
        <input class="input" type="text" name="price" value=" " required>
        <label class="label">조리방법 </label>
        <select class="input" name="how" required>
          <option value="튀김">튀김</option>
          <option value="끓이기">끓이기</option>
          <option value="굽기">굽기</option>
          <option value="볶음">볶음</option>
          <option value="조림">조림</option>
          <option value="부침">부침</option>
          <option value="무침">무침</option>
          <option value="찜">찜</option>
          <option value="비빔">비빔</option>
          <option value="데치기">데치기</option>
          <option value="삶기">삶기</option>
          <option value="회">회</option>
          <option value="절임">절임</option>
          <option value="기타">기타</option>
        </select>
        <label class="label">카테고리 </label>
        <select class="input" name="category" required>
          <option value="디저트">디저트</option>
          <option value="밥/죽/떡">밥/죽/떡</option>
          <option value="메인반찬">메인반찬</option>
          <option value="면/만두">면/만두</option>
          <option value="빵">빵</option>
          <option value="양념/소스/잼">양념/소스/잼</option>
          <option value="양식">양식</option>
          <option value="스프">스프</option>
          <option value="차/음료/술">차/음료/술</option>
          <option value="밑반찬">밑반찬</option>
          <option value="샐러드">샐러드</option>
          <option value="국/탕">국/탕</option>
          <option value="찌개">찌개</option>
          <option value="김치/젓갈/장류">김치/젓갈/장류</option>
          <option value="과자">과자</option>류</option>
          <option value="퓨전">퓨전</option>
          <option value="기타">기타</option>
        </select>
        <label class="label">난이도 </label>
        <select class="input" name="difficulty" required>
          <option value="아무나">아무나</option>
          <option value="초급">초급</option>
          <option value="중급">중급</option>
          <option value="고급">고급</option>
          <option value="신의경지">신의경지</option>
        </select>
        <label class="label">소요시간 </label>
        <select class="input" name="time" required>
          <option value="5분이내">5분이내</option>
          <option value="10분이내">10분이내</option>
          <option value="15분이내">15분이내</option>
          <option value="30분이내">30분이내</option>
          <option value="60분이내">60분이내</option>
          <option value="90분이내">90분이내</option>
          <option value="2시간이내">2시간이내</option>
          <option value="2시간이상">2시간이상</option>
        </select>
        <label class="label">싫어요 : </label>
        <input class="input" type="text" name="dislike" value=" ">
        </div>
        <div class="buttons">
          <button type="submit" value="레시피 검색">검색하기</button>
          <button type="reset">재설정</button>
        </div>
      </form>  
    </div>
  <div class="rightform_wrap">
    <h1>전체메뉴 검색하기</h1>
    <form class="d-flex" method="post" action="/total_search">
      <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search_word">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</div>
</main>

{% endblock contents %}