{% extends "base_login.html" %} {% block contents %}
<link rel="stylesheet" href="../static/source.css">
<div class="mt8">
  <h3 class="text-center">요리에 자주 사용되는 재료를 정리해봤어요</h3>
  <br>
  <p class="text-center">
    요리에 필요한 필수 양념 10가지와 인기재료 10가지예요<br>
    요리에 사용되는 양념은 레시피 가격 산정에 포함되지 않는다는 점 참고하세요!
  </p>
</div>
<article class="page sans">
  <div class="page_wrap">
    <div class="left_table">
      <h2 class="">
        <strong>필수 양념 10가지</strong>
      </h2>
      <p class="">(가격은 풀무원, ORGA(유기농)을 기준으로 함)</p>
      <table class="simple-table">
        <thead>
          <tr>
            <th class="">양념</th>
            <th class="">가격</th>
            <th class="">기준량</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="">다진마늘</td>
            <td class="">5,880원</td>
            <td class="">150g</td>
          </tr>
          <tr>
            <td class="">설탕</td>
            <td class="">4,500원</td>
            <td class="">500g</td>
          </tr>
          <tr>
            <td class="">소금</td>
            <td class="">3,300원</td>
            <td class="">140g</td>
          </tr>
          <tr>
            <td class="">간장</td>
            <td class="">4,800원</td>
            <td class="">180ml</td>
          </tr>
          <tr>
            <td class="">참기름</td>
            <td class="">12,500원</td>
            <td class="">160ml</td>
          </tr>
          <tr>
            <td class="">고춧가루</td>
            <td class="">16,900원</td>
            <td class="">200g</td>
          </tr>
          <tr>
            <td class="">후추</td>
            <td class="">5,000원</td>
            <td class="">28g</td>
          </tr>
          <tr>
            <td class="">고추장</td>
            <td class="">8,200원</td>
            <td class="">360g</td>
          </tr>
          <tr>
            <td class="">통깨</td>
            <td class="">11,900원</td>
            <td class="">230g</td>
          </tr>
          <tr>
            <td class="">식초</td>
            <td class="">7,000원</td>
            <td class="">350ml</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="right_table">
      <h2 class="">
        <strong>인기 재료 10가지</strong>
      </h2>
      <p class="">(가격은 풀무원, ORGA(유기농)을 기준으로 함)</p>
      <table class="simple-table">
        <thead>
          <tr>
            <th class="">재료</th>
            <th class="">가격</th>
            <th class="">기준량</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="">양파</td>
            <td class="">4,700원</td>
            <td class="">1kg</td>
          </tr>
          <tr>
            <td class="">계란</td>
            <td class="">3,900원</td>
            <td class="">10입</td>
          </tr>
          <tr>
            <td class="">대파</td>
            <td class="">4980원</td>
            <td class="">500g</td>
          </tr>
          <tr>
            <td class="">당근</td>
            <td class="">3,300원</td>
            <td class="">300g</td>
          </tr>
          <tr>
            <td class="">청양고추</td>
            <td class="">3,500원</td>
            <td class="">100g</td>
          </tr>
          <tr>
            <td class="">마늘</td>
            <td class="">5,800원</td>
            <td class="">150g</td>
          </tr>
          <tr>
            <td class="">감자</td>
            <td class="">3,980원</td>
            <td class="">1kg</td>
          </tr>
          <tr>
            <td class="">식용유</td>
            <td class="">9,900원</td>
            <td class="">1.8L</td>
          </tr>
          <tr>
            <td class="">두부</td>
            <td class="">1,400원</td>
            <td class="">300g</td>
          </tr>
          <tr>
            <td class="">백미</td>
            <td class="">18,500원</td>
            <td class="">1.8kg</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</article>


{% endblock contents %}
